[submodule "eureka"]
	path = eureka
	url = https://github.com/luccastk/eureka.git
[submodule "service-file"]
	path = service-file
	url = https://github.com/luccastk/service-file.git
[submodule "service-product"]
	path = service-product
	url = https://github.com/luccastk/service-product.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/luccastk/gateway.git
[submodule "common-kafka"]
	path = common-kafka
	url = https://github.com/luccastk/common-kafka.git
[submodule "service-mail"]
	path = service-mail
	url = https://github.com/luccastk/service-mail.git
[submodule "service-user"]
	path = service-user
	url = https://github.com/luccastk/service-user.git
